doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
	title Node.js with TailwindCSS, Express and Pug
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css")
body
div(class="w-full max-w-xs mx-auto")
	form(class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4")
		h2(class="text-center text-xl font-bold mb-4") Login
		div(class="mb-4")
			label(for="username" class="block text-gray-700 text-sm font-bold mb-2") Username
			input(id="username" type="text" name="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Username")
		div(class="mb-6")
			label(for="password" class="block text-gray-700 text-sm font-bold mb-2") Password
			input(id="password" type="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Password")
		div(class="mb-4")
			button(type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") Login
	div(class="text-center mt-4")
		a(href="/register" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800") Don't have an account? Register
